<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Contacts Deleted</title>
</head>
<body>
    <div class="container">
        <h1>All contacts have been deleted!</h1>

    </div>
    <a href="/list">Back to Contacts</a><br>

</body>
</html>
